
.size .page-link {
    color: grey;
}

.size > .page-item.active > .page-link {
    border-color: grey;
    background-color: grey;
}

.item-img {
    height: 200px;
    object-fit: cover;
}

.shop-img {
    height: 100px;
    object-fit: contain;
}

.item-title {
    height: 2.3em;
    overflow: hidden;
}
